@model _21_11_2021.Models.StudentResponse
 @{
      Layout = null;
  }

  <!DOCTYPE html>
  <html>
  <head>
      <meta name="viewport" content="width=device-width" />
      <title>Registration</title>
  </head>
  <body>
      <form asp-action="RsvpForm" method="post">
          <div>
              <label asp-for="Name">Your name:</label>
              <input asp-for="Name" />
          </div>
          <div>
              <label asp-for="Email">Your email:</label>
              <input asp-for="Email" />
          </div>
          <div>
              <label>University:</label>
              <select asp-for="University">
                  <option value="">Choose your university</option>
                  <option value="">BSU</option>
                  <option value="">BSUIR</option>
                   <option value="">BSTU</option>
              </select>
          </div>
          <div>
              <label>Course:</label>
              <select asp-for="@Model.Number" asp-items="Html.GetEnumSelectList<StudentResponse.Course>()"></select>
          </div>
          <button type="submit">Submit Registration</button>
      </form>
  </body>
  </html>
